{# templates/home/modal.html.twig #}

 	
                  <!-- Thumb -->
                  <div class="col-md-4 col-sm-6 portfolio web panel" data-toggle="modal" data-target="#component-{{ component.id }}">
                    <div class="panel-body">
                      <div class="portfolio-title">
                        <div class="portfolio-icon">
                          <div><span class=""></span></div>
                        </div>
                        <div class="title">
                          <h4>{{ component.name }}</h4>
                          <em>{{ component.description }}</em>
                        </div>
                      </div>
                    </div>
                    <div class="portfolio-image">
                        <img src="{{ component.logo }}" alt="" />
                    </div>
                  </div>