{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
 	<div class="main-content container fluid-container">
        <!-- Main timeline -->
        <ul id="timeline" class="timeline">
          <li>
            <a name="section-1"></a>
            <div class="timeline-badge"></div>
            <div class="timeline-line"></div>
            <div class="timeline-panel">
              <div class="timeline-body">
                <div class="top-link">
                  <a href="javascript:void(0);" onclick="scrollToAnchor('top')"><span class="glyphicon glyphicon-menu-up"></span></a>
                </div>
                <!-- What We Do section -->
                <h1>What we do</h1>
                <h5>Lots of sugar, lots of cream</h5>
                <div class="row">
                  <div class="col-md-4 col-sm-6 service panel">
                    <div class="panel-heading background-1">
                      <div class="panel-icon"><span class="glyphicon glyphicon-heart"></span></div>
                      <div class="panel-title">
                        <h4>Common Ground</h4>
                        <p>A community for communities</p>
                      </div>
                    </div>
                    <div class="panel-body">
                      <p>We publish all our common ground code right here on this site. You&rsquo;re welcome .</p>
                      <p><a href="https://vng.nl/samen-organiseren/common-ground">Read More</a></p>
                    </div>
                  </div>
                
                  <div class="col-md-4 col-sm-6 service panel">
                    <div class="panel-heading background-1">
                      <div class="panel-icon"><span class="glyphicon glyphicon-link"></span></div>
                      <div class="panel-title">
                        <h4>NLX</h4>
                        <p>The only way we know how.</p>
                      </div>
                    </div>
                    <div class="panel-body">
                      <p>Creating connections is the only way we know how to keep in touch.</p>
                      <p><a href="https://nlx.io/">Read More</a></p>
                    </div>
                  </div>
                   <div class="col-md-4 col-sm-6 service panel">
                    <div class="panel-heading background-1">
                      <div class="panel-icon"><span class="glyphicon glyphicon-repeat"></span></div>
                      <div class="panel-title">
                        <h4>Itterative</h4>
                        <p>In the truest sense.</p>
                      </div>
                    </div>
                    <div class="panel-body">
                      <p>Small components, in small steps, made for big changes. </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>


          <li>
            <a name="section-2"></a>
            <div class="timeline-badge"></div>
            <div class="timeline-line"></div>
            <div class="timeline-panel">
              <div class="timeline-body">
                 <div class="top-link">
                  <a href="javascript:void(0);" onclick="scrollToAnchor('top')"><span class="glyphicon glyphicon-menu-up"></span></a>
                </div>
                <!-- Team section -->
                <h1>Meet the Team</h1>
                <h5>Pretty please, with sugar on top.</h5>
                <div class="row">          
                  	{% for member in team %}
                      {% include 'home/teamMember.html.twig' with {'item': member} %}
                 	{% endfor %}
                </div>
              </div>
            </div>
          </li>


          <li>
            <a name="section-3"></a>
            <div class="timeline-badge"></div>
            <div class="timeline-line"></div>
            <div class="timeline-panel">
              <div class="timeline-body">
                 <div class="top-link">
                  <a href="javascript:void(0);" onclick="scrollToAnchor('top')"><span class="glyphicon glyphicon-menu-up"></span></a>
                </div>
                <!-- Our Work section -->
                <h1>Applications</h1>
                <h5>Knowing is not enough; we must apply. Willing is not enough; we must do.</h5>
                <div class="row">
                  <div class="col-sm-4">
                    <p>A concept is nice, but the proof of the pudding is in the eating. And lets be fair we're not going to trust our governmental software to an unproven concept right?  </p>
                  </div>
                  
                 <div class="col-sm-8">
                     To this end we provide proof of concept applications. Be it trouwen (marriage) or verhuizen (moving) these application proof that both the common ground concept, the containers that it exists of and the data connections that it uses (nlx), are a trustworthy hair to the current Dutch (local) government software stack.
                 </div>


                  <!-- See the filterPortfolio(...) function in the javacript block at the bottom of the page for an explanation of how this works.
                  <div class="col-sm-12 portfolio-filters">
                    <button id="allFilter" type="button" class="btn background-black" onclick="filterPortfolio(['web', 'mobile', 'print'], 'allFilter')">all</button>
                    <button id="webFilter" type="button" class="btn background-1" onclick="filterPortfolio(['web'], 'webFilter')">web</button>
                    <button id="mobileFilter" type="button" class="btn background-2" onclick="filterPortfolio(['mobile'], 'mobileFilter')">mobile</button>
                    <button id="printFilter" type="button" class="btn background-3" onclick="filterPortfolio(['print'], 'printFilter')">print</button>
                  </div> -->
                </div>

                <!--
                  Make sure the data-target is set to the id of the modal that you would like to open.
                -->
                <div class="row">           
                  	{% for application in applications %}
                      {% include 'home/thumb.html.twig' with {'item': application} %}
                 	{% endfor %}                     
                </div>
              </div>
            </div>
          </li>
          
          <li>
            <a name="section-4"></a>
            <div class="timeline-badge"></div>
            <div class="timeline-line"></div>
            <div class="timeline-panel">
              <div class="timeline-body">
                 <div class="top-link">
                  <a href="javascript:void(0);" onclick="scrollToAnchor('top')"><span class="glyphicon glyphicon-menu-up"></span></a>
                </div>
                <!-- Our Work section -->
                <h1>Components</h1>
                <h5>Sharing is caring.</h5>
                <div class="row">
                  <div class="col-sm-4">
                    Common ground components are small rest API&rsquo;s that represent CRUD operations and some minimal validation logic. Business logic and advanced validation are left to applications.
                  </div>                  
                  <div class="col-sm-4">
                   The datamodel of common grounds consists out of linked data, therefore components can (and will) return URI&rsquo;s to other components instead of combining data.
                  </div>
                  <div class="col-sm-4">
                    These components are designed to run on docker containers or in a Kubernetes network. Read the appropriate installations guide on the how to spin up these components quickly.    
                  </div>


                  <!-- See the filterPortfolio(...) function in the javascript block at the bottom of the page for an explanation of how this works.
                  <div class="col-sm-12 portfolio-filters">
                    <button id="allFilter" type="button" class="btn background-black" onclick="filterPortfolio(['web', 'mobile', 'print'], 'allFilter')">all</button>
                    <button id="webFilter" type="button" class="btn background-1" onclick="filterPortfolio(['web'], 'webFilter')">web</button>
                    <button id="mobileFilter" type="button" class="btn background-2" onclick="filterPortfolio(['mobile'], 'mobileFilter')">mobile</button>
                    <button id="printFilter" type="button" class="btn background-3" onclick="filterPortfolio(['print'], 'printFilter')">print</button>
                  </div> -->
                </div>

                <!-- Thumb -->
                <!--
                  Make sure the data-target is set to the id of the modal that you would like to open.
                -->
                <div class="row">              
                  	{% for component in components %}
                      {% include 'home/thumb.html.twig' with {'item': component} %}
                 	{% endfor %}                   
                </div>
              </div>
            </div>
          </li>

		  
          <li>
            <a name="section-5"></a>
            <div class="timeline-badge"></div>
            <div class="timeline-line"></div>
            <div class="timeline-panel">
              <div class="timeline-body">
                 <div class="top-link">
                  <a href="javascript:void(0);" onclick="scrollToAnchor('top')"><span class="glyphicon glyphicon-menu-up"></span></a>
                </div>
                <!-- Our Work section -->
                <h1>Libraries</h1>
                <h5>I think fast, I talk fast.</h5>
                <div class="row">
                  <div class="col-sm-4">
                 </div>
                  
                 <div class="col-sm-4">
                  </div>

                  <div class="col-sm-4">
                 </div>


                  <!-- See the filterPortfolio(...) function in the javacript block at the bottom of the page for an explanation of how this works.
                  <div class="col-sm-12 portfolio-filters">
                    <button id="allFilter" type="button" class="btn background-black" onclick="filterPortfolio(['web', 'mobile', 'print'], 'allFilter')">all</button>
                    <button id="webFilter" type="button" class="btn background-1" onclick="filterPortfolio(['web'], 'webFilter')">web</button>
                    <button id="mobileFilter" type="button" class="btn background-2" onclick="filterPortfolio(['mobile'], 'mobileFilter')">mobile</button>
                    <button id="printFilter" type="button" class="btn background-3" onclick="filterPortfolio(['print'], 'printFilter')">print</button>
                  </div> -->
                </div>

                <!--
                  Make sure the data-target is set to the id of the modal that you would like to open.
                -->
                <div class="row">                
                  	{% for library in libraries %}
                      {% include 'home/thumb.html.twig' with {'item': library} %}
                 	{% endfor %} 
                </div>
              </div>
            </div>
          </li>		

        </ul>
      </div>
      <div class="content-area footer">
        (c) <a href="http://www.conduction.nl" target="_blank">Conduction</a> 2019</a>
      </div>
    </div> 
    
    
    {% for application in applications %}
    	{% include 'home/modal.html.twig' with {'item': application} %}
    {% endfor %} 
    {% for component in components %}
    	{% include 'home/modal.html.twig' with {'item': component} %}
    {% endfor %} 
    {% for library in libraries %}
    	{% include 'home/modal.html.twig' with {'item': library} %}
    {% endfor %} 
{% endblock %}
