{# templates/header.html.twig #}

      <!-- Header section. Update the background by changing the .header class background image. -->
      <div class="header">
        <div class="container fluid-container header-content content-area">
          <span class="header-icon glyphicon glyphicon-heart-empty"></span>
          <div class="header-title">
            <h1>{% if organisation is defined %}{{ organisation.name }}{% else %} Wij{% endif %}</h1>
            <h3>Common ground</h3>
          </div>
        </div>        
      </div>