{# templates/home/menu.html.twig #}

<!-- Mobile menu dropdown -->
      <div class="mobile-header-menu">
        <div class="menu-logo">
            <span class="header-icon glyphicon glyphicon-heart-empty"></span>
        </div>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            <span class="glyphicon glyphicon-menu-hamburger color-1"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
            <li>
              	<a href="javascript:void(0);" onclick="scrollToAnchor('section-1')">What We Do</a>
            </li>
            <li>
              	<a href="javascript:void(0);" onclick="scrollToAnchor('section-2')">Meet the Team</a>
            </li>
            <li>
              	<a href="javascript:void(0);" onclick="scrollToAnchor('section-3')">Applications</a>
            </li>
            <li>
              	<a href="javascript:void(0);" onclick="scrollToAnchor('section-4')">Components</a>
            </li>
            <li>
            	<a href="javascript:void(0);" onclick="scrollToAnchor('section-5')">Libraries</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Desktop menu -->
      <div class="container fluid-container content-area header-menu">
        <div class="header-menu-content">
          <div class="menu-logo">
            <span class="header-icon glyphicon glyphicon-heart-empty"></span>
          </div>
          <ul>
            <li>
              <a href="javascript:void(0);" onclick="scrollToAnchor('section-1')">What We Do</a>
            </li>
            <li>
              <a href="javascript:void(0);" onclick="scrollToAnchor('section-2')">Meet the Team</a>
            </li>
            <li>
              <a href="javascript:void(0);" onclick="scrollToAnchor('section-3')">Applications</a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="scrollToAnchor('section-4')">Components</a>
            </li>
            <li>
                <a href="javascript:void(0);" onclick="scrollToAnchor('section-5')">Libraries</a>
            </li>
          </ul>
        </div>
      </div>
